/*Planned side-bar or top-bar stuff*/
.top-bar {
  height: 100%; /* 100% Full-height */
  width: 1;
  z-index: 1; /* Stay on top */
  top: auto;
  background-color: greenyellow;
  padding: 5px;
}

/* main text segment*/
.main {
  font-size: larger;
}

body {
  background-color: whitesmoke;
}

/*Button to go to top --- PLANNED TO MAKE IT MOVE WITH SCREEN*/
.topbtn {
  position: relative;
  color: red;
}

.sweet {
  color: red;
}

h1 {
  color: red;
}

h2 {
  color: green;
}

h3 {
  color: darkblue;
}

.menu {
  color: blue;
}

.large {
  width: 600px;
}
